* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  padding: 50px 15%;
  background: rgb(57, 76, 53);
  color: #efefef;
  display: flex;
  bottom: 0;
}

.footer div {
  text-align: center;
}

.col-2 {
  flex-grow: 2;
}

.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
}

.col-1 a {
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}

.footer form input {
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

.footer form button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

.footer form button:hover {
  background: #fff;
  color: black;
  transition: background 0.3s;
}

.footer form button:active {
  box-shadow: 0 8px 10px -10px rgb(0, 0, 0);
}

.socials {
  margin-top: 30px;
}

.socials i {
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
}
