.SignUp {
  background-color: rgb(255, 255, 255);
  /* width: 30vw; */
  height: 60vh;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 30vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 25px;
  border: solid;
  border-color: #1c6411;
  border-width: 1px;
}

.logo {
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 0;
  margin-right: 30px;
}

.sign-title {
  font-size: 2rem;
  color: black;
  margin-bottom: 5rem;
}

.input-box {
  /* background-color: grey; */
  width: 20vw;
  height: 4vh;
  display: grid;
  grid-template-areas: "icon input-bar input-bar input-bar";
  grid-template-columns: 1fr 6fr;
  border: solid;
  border-color: black;
  border-width: 1.5px;
  align-items: center;
  background-color: rgba(238, 232, 232, 1);
  border-color: #1c6411;
}

.icon {
  height: 3vh;
  margin-left: 10px;
}

.input-bar {
  border: none;
  height: 3vh;
  background-color: rgba(238, 232, 232, 1);
}

.check-box {
  margin-right: 0;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid #000000;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  border-color: black;
  border-width: 1px;
  background-color: #25c30d;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

label[for="terms"] {
  margin-left: 8px;
}

.sign-button {
  margin-bottom: 2rem;
  border-radius: 25px;
  background-color: #1c6411;
  color: white;
  font-size: 1rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.163);
}

.sign-button:hover {
  background-color: #217414;
}

.sign-button:active {
  opacity: 0.9;
}
